@model NCRSocialNetwork.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="image-slider-window">
	<img src="Content\Images\sports.png" alt="" style="max-width:100%">
	<figure id="imagestrip">
		<img src="\NCRSocialNetwork\Content\Images\sports.png" id="one" alt="">
		<img src="\NCRSocialNetwork\Content\Images\music.png" id="two" alt="">
		<img src="\NCRSocialNetwork\Content\Images\dance.png" id="three" alt="">
		<img src="\NCRSocialNetwork\Content\Images\music.png" id="four" alt="">
		<img src="\NCRSocialNetwork\Content\Images\sports.png" id="five" alt="">
	</figure>
    <ul>
		<li>
			<a href="#one">1</a>
		</li>
		<li>
			<a href="#two">2</a>
		</li>
		<li>
			<a href="#three">3</a>
		</li>
		<li>
			<a href="#four">4</a>
		</li>
		<li>
			<a href="#five">5</a>
		</li>
	</ul>
</div>
<br>

<ul class="tabs">
	<li><a href="#articles-section">Recent Events</a></li>
	<li><a href="#new-event-section">Request New Event</a></li>
</ul>

				<!--Articles: Displays most happening events-->
<div id="articles-section" class="articles-section">					
	@foreach (var Event in @Model.Events)
    {
        <article id="@Event.EventId" class="event">
		    <div id="event-image" class="event-image">
			    @if(@Event.Club.ClubThumbnailPath != null) 
                {
                    <img src="@Event.Club.ClubThumbnailPath" alt="" width="60%" />
                }
                else 
                {
		            <img src='@Url.Content("~/Content/Images/sports-logo.png")' alt="" width = "60%">	
                }
		    </div>
		    <div id="event-data" class="event-data">
			    <div class="event-content">
				    <p id="event_id_content">@Event.EventName</p>
			    </div>
			    <div class="event-operations">
				    @if (@Model.EventLikeDislikes.Count(e => e.EventLikeDislikeEventId == Event.EventId && e.EventLikeDislikeUserId == @Model.BaseUser.UserId) == 0)
                    {
                        @Ajax.ActionLink(
                                "Like",
                                "LikeEvent",
                                new
                                {
                                    EventId = Event.EventId,
                                    UserId = @Model.BaseUser.UserId                                  
                                },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "like-dislike-" + Event.EventId,
                                    OnSuccess = "showeventlikeunlike("+Event.EventId+")"
                                },
                                new {@id="event_"+Event.EventId+"_like"}
                        )

                        @:
                        @Ajax.ActionLink(
                                "Dislike",
                                "DislikeEvent",
                                new
                                {
                                    EventId = Event.EventId,
                                    UserId = @Model.BaseUser.UserId
                                },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "like-dislike-" + Event.EventId,
                                    OnSuccess = "showeventlikeunlike("+Event.EventId+")"
                                },
                                new {@id="event_"+Event.EventId+"_dislike"}
                            )
                        @Ajax.ActionLink(
                                "Unlike",
                                "UnlikeEvent",
                                new
                                {
                                    EventId = Event.EventId,
                                    UserId = @Model.BaseUser.UserId
                                },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "like-dislike-" + Event.EventId,
                                    OnSuccess = "hideeventlikeunlike("+Event.EventId+")"
                                },
                                new {@id="event_"+Event.EventId+"_unlike", @Style ="display: none;"}
                            )
                    }
                    else
                    {
                         @Ajax.ActionLink(
                                "Like",
                                "LikeEvent",
                                new
                                {
                                    EventId = Event.EventId,
                                    UserId = @Model.BaseUser.UserId,
                                    id = "myId" 
                                },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "like-dislike-" + Event.EventId,
                                    OnSuccess = "showeventlikeunlike("+Event.EventId+")"
                                },
                                new {@id="event_"+Event.EventId+"_like", @Style ="display: none;"}
                            )
				        @:
                        @Ajax.ActionLink(
                                "Dislike",
                                "DislikeEvent",
                                new
                                {
                                    EventId = Event.EventId,
                                    UserId = @Model.BaseUser.UserId,
                                    id = "myId" 
                                },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "like-dislike-" + Event.EventId,
                                    OnSuccess = "showeventlikeunlike("+Event.EventId+")"
                                },
                                new {@id="event_"+Event.EventId+"_dislike", @Style ="display: none;"}
                            )
                        @Ajax.ActionLink(
                                "Unlike",
                                "UnlikeEvent",
                                new
                                {
                                    EventId = Event.EventId,
                                    UserId = @Model.BaseUser.UserId,
                                    id = "myId" 
                                },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "like-dislike-" + Event.EventId,
                                    OnSuccess = "hideeventlikeunlike("+Event.EventId+")"
                                },
                                new {@id="event_"+Event.EventId+"_unlike"}
                            )
                       
                    }                    
				    <p onclick="showcomments(@Event.EventId)" class="p_hover">Comment</p>
				    @Html.ActionLink("Go to this event page", @Event.EventId.ToString(), "Event/Details")
				    <p id="event_id_date_posted">Posted on @Event.EventCreatedTime.ToString("ddd d MMM") at @Event.EventCreatedTime.ToString("HH:mm")</p>							
			    </div>
                
                <p id="like-dislike-@Event.EventId" class="like-dislike" hidden>                     
                    @Model.EventLikeDislikes.Count(e => e.EventLikeDislikeEventId == Event.EventId && e.EventLikeDislikeValue == 1) like this event. @Model.EventLikeDislikes.Count(e => e.EventLikeDislikeEventId == Event.EventId && e.EventLikeDislikeValue == 0) dislike this event.
                </p> 
              
			    <div id="comments-@Event.EventId" class="event-comments" style="display: none;">	
                    @if(@Model.Comments.Where(c => c.CommentKeyId == @Event.EventId).Count() > 0) {
                        <div id="event-comments-@Event.EventId" class="comments">
                            @foreach (var Comment in @Model.Comments)
                            {
                                if (Comment.CommentKeyId == @Event.EventId)
                                {
                                    <div class="event-comment">
					                    <a href="/NCRSocialNetwork/UserProfile/@Comment.User.UserId"><img src="@Url.Content(@Comment.User.UserDisplayPicture)" alt="" width="45em" /></a>
					                    <p>@Html.ActionLink(@Comment.User.UserFirstName + " " + @Comment.User.UserLastName + ":  ", "/UserProfile/" + @Comment.User.UserId, ".")@Comment.CommentDescription</p>
				                    </div>
                                }
                            }
                        </div>
                    }
                    <div id="newcomment-@Event.EventId" style="display:inline; width: 0; height: 0;"></div>
				    <div class="event-user-comment">	
					    <img src="@Url.Content(@Model.BaseUser.UserDisplayPicture)" alt="" width="45em" />
					    <div>
						    @using (Ajax.BeginForm(
                                "SubmitComment",
                                new
                                {
                                    UserId = @Model.BaseUser.UserId,
                                    EventId = Event.EventId,
                                    UserName = @Model.BaseUser.UserFirstName + @Model.BaseUser.UserLastName
                                },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.InsertAfter,
                                    UpdateTargetId = "newcomment-" + Event.EventId,
                                    OnSuccess = "myonsuccess"
                                }))
                                { 
                                    <textarea name="UserComment" class="UserComment" placeholder="Your comment here"></textarea>
						            <input type="submit" value="Comment">
                                }
					    </div>
				    </div>
			    </div>
		    </div>
	    </article>	
 }
</div>
<div id="new-event-section" class="articles-section">
    <form class="form-settings" action="~/RequestEvent/NewEvent" method="post">
	    <div class="form_settings">
			<p><span>Event Title:</span> <input type = 'text' id="EventRequestEventTitle" name='EventRequestEventTitle' required/></p>
			<p><span>Description:</span> <textarea id="EventRequestEventDescription" name="EventRequestEventDescription" required></textarea></p>
            <p style="margin-top: 3.4em;"><span>Club: </span>
		    <select id = "EventRequestClubId" name = "EventRequestClubId" >
                @foreach (var Club in @Model.Clubs)
                {
                    <option value="@Club.ClubId">@Club.ClubName</option>
                }
		    </select></p>
            <input id="EventRequestUserId" name="EventRequestUserId" value="@Model.BaseUser.UserId" hidden/>
			<p ><span>&nbsp</span>
                 <input class = 'submit' type = 'submit' value = 'Submit'>
			    <input class = 'submit' type = 'reset' value = 'Clear'>
			 </p>
		</div>
	</form>
</div>
<br />

@section Aside{
    <section id="profile_section">
        <br />
        @if(Model.BaseUser.UserDisplayPicture != null)
        {
            <img src='@Url.Content(Model.BaseUser.UserDisplayPicture)' alt="" width = "60%">	
        }
        else
        {
            <img src='@Url.Content("~/Content/Images/profile-picture_07.png")' alt="" width = "60%">		
        }
		<article id="profile_data">
			<p><b>Name:</b> @Model.BaseUser.UserFirstName @Model.BaseUser.UserLastName</p>
			<p><b>Mobile No:</b> @Model.BaseUser.UserContactNo</p>
			<p><b>Email ID:</b> @Model.BaseUser.UserEmail</p>
			<p><b>Hobbies:</b> @Model.BaseUser.UserHobbies</p>
			<p><b>Technologies:</b> @Model.BaseUser.UserTechnologies</p>	
		</article>
		<h3>Clubs</h3>
		<article class="article_data">
            @foreach (var Club in @Model.Clubs)
            {
                @Html.ActionLink(@Club.ClubName, @Club.ClubName, "Clubs")
            }
		</article>
		<h3>Events</h3>
		<article class="article_data">
            @foreach (var Event in @Model.Events)
            {
                @Html.ActionLink(@Event.EventName, @Event.EventId.ToString(), "Event/Details")
            }
		</article>
@*		<h3>Event Calendar</h3>
		<div id="calendar" class="clearfix"> 
				<script type="text/template" id="full-clndr-template">
				<div class="clndr-<a href="http://www.jqueryscript.net/tags.php?/grid/">grid</a>">
				<div class="days-of-the-week clearfix">
				<% _.each(daysOfTheWeek, function(day) { %>
				<div class="header-day"><%= day %></div>
				<% }); %>
				</div>
				<div class="days clearfix">
				<% _.each(days, function(day) { %>
				<div class="<%= day.classes %>" id="<%= day.id %>"><span class="day-number"><%= day.day %></span></div>
				<% }); %>
				</div>
				</div>
				<div class="event-listing">
				<div class="event-listing-title">EVENTS THIS MONTH</div>
				<% _.each(eventsThisMonth, function(event) { %>
				<div class="event-item">
				<div class="event-item-name"><%= event.title %></div>
				<div class="event-item-location"><%= event.location %></div>
				</div>
				<% }); %>
				</div>
				</script> 
				</div> *@
	</section>
}


