@model IEnumerable<NCRSocialNetwork.Models.EventRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventRequestEventTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventRequestEventDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Club.ClubName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventRequestDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventRequestEventTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventRequestEventDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Club.ClubName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventRequestDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventRequestId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventRequestId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventRequestId })
        </td>
    </tr>
}

</table>
