@model NCRSocialNetwork.Models.ClubModerator

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ClubModerator</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Club.ClubName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Club.ClubName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.UserFirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserFirstName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
